@model WebTest.Models.VerfyInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Css/examples.css" rel="stylesheet" />
    <link href="~/Content/Css/global.css" rel="stylesheet" />
    <link href="~/Content/Css/colorableTabPanel.css" rel="stylesheet" />
    <link href="~/Content/Css/ext-all.css" rel="stylesheet" />
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <title>预约信息核对</title>
    <script src="~/Content/Lib/Jquery-1.12.0/jquery-1.12.0.min.js"></script>
    <script src="~/Content/Lib/layer/layer.js"></script>
    <script type="text/javascript">
        //刷新验证码
        function refreshvc() {
            $.ajax({
                url: "GetVerifyCode",
                type: "post",
                success: function (result) {
                    if (result.StatusCode == 0) {
                        $("#verificationcodeimg").attr("src", "data:image/jpeg;base64," + result.Data);
                    }
                }
            });
        }

        //提交
        function submitPost() {
            var loadingLayer;
            if ($("#verificationcodereg").val() == "") {
                layer.msg("请输入验证码");
                $("#verificationcodereg").focus();
                return;
            }
            var layerConfirm = layer.confirm('请确认申请表信息填写无误，确认后不能再修改，现在是否继续确认？', {
                btn: ['是', '否']
            }, function () {
                $.ajax({
                    url: "CreateBooking",
                    type: "post",
                    data: $("#bookwebForm").serialize(),
                    beforeSend: function () {
                        loadingLayer = layer.msg('提交信息中...', { icon: 16 });
                        $("#submitBtn").attr("disabled", "disabled");
                    },
                    success: function (result) {
                        if (result.StatusCode != 0) {
                            layer.alert(result.Message);
                            if (result.StatusCode == -2) {
                                refreshvc();
                            }
                        } else {
                            $("#submitBtn").val("关闭").unbind("click").click(function () {
                                window.close();
                            });
                            var successInfo = result.Data;
                            layer.alert(successInfo.UserName + "已预约了" + successInfo.BookingTypeName + ",预约流水号是<font color='red'>" + successInfo.SerialNumber + "</font>,预约时间段是" + successInfo.BookingDateStr + "," + successInfo.BookingTimeStr + "（请在开始前10分钟到结束前10分钟内到现场取号）,预约登记点是" + successInfo.BookingRegistration + ",地址是" + successInfo.RegistrationAddress + ",请您带齐身份证明和必备材料按时前往办理。业务咨询电话：" + successInfo.RegistrationPhone + "。");

                        }
                    },
                    complete: function () {
                        layer.close(loadingLayer);
                        $("#submitBtn").removeAttr("disabled");
                    }
                });
            }, function () {
                layer.close(layerConfirm);
            });
        }
    </script>
</head>
<body oncontextmenu="return false" onselectstart="return false" id="ext-gen6" class=" ext-safari">
    <br>
    <div id="qx">
        <b>
            <span style="font-size:14.0pt;">预约信息核对</span>
        </b><br />
    </div>
    <br>
    <span id="note" style="font-size: 8.0pt"></span>
    <br>
    <form name="bookwebForm" id="bookwebForm" method="post" action="CreateBooking">
        <input type="hidden" name="bookingInformationOid" value="" id="bookingInformationOid">
        <input type="hidden" name="bookingCode" value="" id="bookingCode">
        <input type="hidden" name="registrationAreaOid" value="@Model.registrationAreaOid">
        <input type="hidden" name="registrationAreaName" value="@Model.registrationAreaName">
        <input type="hidden" name="bookingType" value="@Model.bookingType">
        <input type="hidden" name="bookingTypeName" value="@Model.bookingTypeName">
        <input type="hidden" name="bussName" value="@Model.bussName">
        <input type="hidden" name="itemNo" value="@Model.itemNo">
        <input type="hidden" name="szItemNo" value="@Model.szItemNo">
        <input type="hidden" name="bookingDateLabel" value="@Model.bookingDateLabel">
        <input type="hidden" name="bookingDateStr" value="@Model.bookingDateStr">
        <input type="hidden" name="workTimeSoltOid" value="@Model.workTimeSoltOid">
        <input type="hidden" name="workTimeSoltName" value="@Model.workTimeSoltName">
        <input type="hidden" name="proveType" value="@Model.proveType">
        <input type="hidden" name="proveTypeName" value="@Model.proveTypeName">
        <input type="hidden" name="proveCode" value="@Model.proveCode">
        <input type="hidden" name="houseName" value="@Model.houseName">
        <input type="hidden" name="personName" value="@Model.personName">
        <input type="hidden" name="certificateType" value="@Model.certificateType">
        <input type="hidden" name="certificateTypeName" value="@Model.certificateTypeName">
        <input type="hidden" name="certificateNo" value="@Model.certificateNo">
        <input type="hidden" name="phoneNumber" value="@Model.phoneNumber">
        <input type="hidden" name="bookingSzAreaOid" value="@Model.bookingSzAreaOid">
        <input type="hidden" name="szAreaName" value="@Model.szAreaName">
        <table id="bookingInfoTable" class="myTable" cellpadding="0" cellspacing="0" align="center">
            <tbody>
                <tr height="36">
                    <th colspan="4" height="29">业务信息</th>
                </tr>
                <tr>
                    <td class="label" align="right" nowrap="nowrap" width="10%">业务事项：</td>
                    <td id="tempItemName" width="15%">&nbsp;@Model.bookingTypeName --- &nbsp;@Model.bussName</td>
                    <td class="label" align="right" nowrap="nowrap" width="10%">受理单位：</td>
                    <td id="unitName" width="15%">&nbsp;深圳市不动产登记中心</td>
                </tr>
                <tr height="36">
                    <th colspan="4" height="29">房地产权利证明</th>
                </tr>
                <tr>
                    <td class="label" align="right" nowrap="nowrap">房地产所在区：</td>
                    <td><span style="text-align:left">&nbsp;@Model.szAreaName</span></td>
                    <td class="label" align="right" nowrap="nowrap">房地产名称：</td>
                    <td><span style="text-align:left">&nbsp;@Model.houseName</span></td>
                </tr>
                <tr id="isFlagItem">
                    <td class="label" align="right" nowrap="nowrap">权属证明类型：</td>
                    <td id="proveTypeName">&nbsp;@Model.proveTypeName</td>

                    <td class="label" align="right" nowrap="nowrap">权属证明编号：</td>
                    <td id="proveCode">&nbsp;@Model.proveCode</td>
                </tr>
                <tr height="31">
                    <th colspan="4" height="29">预约人</th>
                </tr>
                <tr>
                    <td class="label" align="right" nowrap="nowrap">姓名：</td>
                    <td id="personName">&nbsp;@Model.personName</td>
                    <td class="label" align="right" nowrap="nowrap">手机号码：</td>
                    <td id="phoneNumber">&nbsp;@Model.phoneNumber</td>
                </tr>
                <tr>
                    <td class="label" align="right" nowrap="nowrap">证件类型：</td>
                    <td id="certificateTypeName">&nbsp;@Model.certificateTypeName</td>
                    <td class="label" align="right" nowrap="nowrap">证件号码：</td>
                    <td id="certificateNo">&nbsp;@Model.certificateNo</td>
                </tr>
                <tr height="31">
                    <th colspan="4" height="29">办理登记点和预约时间信息</th>
                </tr>
                <tr>
                    <td class="label" align="right" nowrap="nowrap">办理登记点：</td>
                    <td id="registrationAreaName" colspan="3">&nbsp;@Model.registrationAreaName</td>
                </tr>
                <tr>
                    <td class="label" align="right" nowrap="nowrap">预约日期：</td>
                    <td>&nbsp;@Model.bookingDateLabel</td>
                    <td class="label" align="right" nowrap="nowrap">预约时段：</td>
                    <td>&nbsp;@Model.workTimeSoltName</td>
                </tr>
                <tr height="31">
                    <th colspan="4" height="29">验证码</th>
                </tr>
                <tr id="verificationCodeTr">
                    <td class="label" align="right" nowrap="nowrap">验证码</td>
                    <td height="29" class="fromStyle" colspan="3">
                        <div style="display:inline">
                            <div style="float:left">
                                <input type="text" id="verificationcodereg" name="verificationcodereg" tabindex="3" maxlength="3" class="t_input" value="" size="10" style="ime-mode:disabled;margin:5px;" onkeypress="return (/[\d-]/.test(String.fromCharCode(event.keyCode)));">
                            </div>
                            <div id="usvcmsg" style="float:left"></div>
                            <input type="hidden" id="verificationcoderegflag" value="">
                            <div onclick="refreshvc();" style="cursor: pointer;float:left;">
                                <img id="verificationcodeimg" src="data:image/jpeg;base64,@ViewBag.vCodeBase64">

                            </div>
                            <div style="float:left">
                                <span style="font-size:13px;">
                                    请输入左侧算式结果，如"五加二等于？"输入7。<br><a herf="#" onclick="refreshvc();"><font color="blue">看不清？换一个。</font></a>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div id="cancelBtnTr" align="center">
            <input type="button" class="buttonTow" name="bt1" value="返回" onclick="doCancel()">
            <input id="submitBtn" type="button" class="buttonTow" name="bt1" value="下一步" onclick="submitPost()">
        </div>
        <br>
    </form>
</body>
</html>
